<nav class="app-nav">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <i class="pi pi-map-marker"></i>{{ 'nav.home' | transloco }}
  </a>
  <a routerLink="/heat-index" routerLinkActive="active">
    <i class="pi pi-sun"></i> {{ 'nav.heatIndex' | transloco }}
  </a>
  @if (authService.isLoggedIn()) {
    <a routerLink="/favourites" routerLinkActive="active">
      <i class="pi pi-star"></i>
      {{ 'nav.favourites' | transloco }}
    </a>
  }
  @if (authService.isAdmin()) {
    <a routerLink="/admin" routerLinkActive="active">
      <i class="pi pi-shield"></i>
      Admin
    </a>
  }
  <app-lang-switcher />
</nav>
