//login-register buttons
@use '../../scss/_theme-btn';

.nav-action-auth {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-right: 0.5rem;
  justify-content: flex-end;
  margin: 0.5rem 2rem 0 0;

  span {
    color: #60a5fa;
  }
}
