.map-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.popup-btn-fav.is-full {
  opacity: 0.5;
  cursor: not-allowed;
}

.map-container {
  height: 500px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #334155;
}

.map-banner {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;

  &.warning {
    background: rgba(234, 179, 8, 0.1);
    border: 1px solid rgba(234, 179, 8, 0.3);
    color: #eab308;
  }

  &.danger {
    // background: rgba(239, 68, 68, 0.1);
    // border: 1px solid rgba(239, 68, 68, 0.3);
    // color: #ef4444;
    background: rgba(234, 179, 8, 0.1);
    border: 1px solid rgba(234, 179, 8, 0.3);
    color: #eab308;
  }
}
